@font-face {
    font-family: 'Uni'; /*a name to be used later*/
    src: url('./src/font/DinkieBitmap-9px.ttf')format('truetype'); /*URL to font*/
}
.p1 {
    font-family: 'Uni';
    
}
.button1 
{
    transition-duration: 0.01s;
    padding: 0;
    border: none;
    background: none;
    font-family: 'Uni';
    font-size: 20px;
    -webkit-font-smoothing : none;
    color: rgb(255, 0, 0);
}
.button1:hover
{
    padding: 0;
    border: none;
    background: none;
    font-family: 'Uni';
    font-size: 22px;
    -webkit-font-smoothing : none;
    color: rgb(255, 255, 255);
}
html{overflow:hidden}
body{margin:0;background-color: rgb(0, 0, 0); }

.overlay {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 100px;
    height: 100px;
    background-color: orange;
}
